<div class="site-category">
    <ul class='cat1'>
    
      <li><a href="/">Home</a></li>
      <li><a href="/">Activity</a>
#        <ul>
#            <li><a href="/Python/Crawler">Crawler</a></li>
#            <li><a href="/Python/Django">Django</a></li>
#            <li><a href="/Python/Tensorflow">Tensorflow</a></li>
#        </ul>
      </li>

      <li><a href="/">Assignment</a>
#        <ul>
#          <li><a href="/DS/ML">Machine Learning</a></li>
#        </ul>
      </li>
      
    </ul>
  </div>
